body {
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	background-color; #fff;
	padding-top: 50px;
}

.login-container {
	border: 1px solid #dadce0;
	box-shadow: none;
	width: 448px;
	padding: 48px 40px 36px;
	margin: auto;
}

.login-container h1 {
	
}

.login-container p {
	
}

.google-logo {
	width: 74px;
	height: 24px;
	margin-bottom: 24px;
}

.input-group {
	margin-bottom: 24px;
	position: relative;
}

.input-group input {

}

.input-group input:focus {

}

.links-container {

}

.link-button {

}

.link-button:hover {

}

.info-text {

}

.info-text a {
	
}

.info-text a:hover {
	
}

.bottom-container {

}
.password-bottom-container {

}

.submit-button {
	
}

.username-display {

}
.username-display:hover {

}

.person-icon {

}
.dopdown-icon {

}

.show-password-container {

}
.show-password-container label {

}
.show-password-container input {

}
