body {
	font-family: 'Google Sans', Roboto, Arial, sans-serif;
	background-color: #fff;
	padding-top: 50px;
}

.login-container {
	border: 1px solid #dadce0;
	box-shadow: none;
	width: 448px;
	padding: 48px 40px 36px;
	margin: auto;
}

.login-container h1 {
	
}

.login-container p {
	
}

.google-logo {
	width: 74px;
	height: 24px;
	margin-bottom: 24px;
}

.input-group {
	margin-bottom: 24px;
	position: relative;
}

.input-group input {
	padding: 14px 16px;
	font-size: 16px;
	width: calc(100% - 24px);
	border: 1px solid #dadce0
	border-radius:4px
}

.input-group input:focus {
	border-color: #1a73e8;
	outline: none;
	border-width: 2px;
	padding: 13px 15px;
	width: calc(100% - 32px);
}

.links-container {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 24px;
}

.link-button {
	background: none;
	border: none;
	color: #1a73e8;
	font-weight: 500;
	cursor: pointer;
	padding: 0;
	font-size: 14px;
}

.link-button:hover {
	text-decoration: underline;
}

.info-text {
	color: #5f6368
	font-size: 14px;
	line-hheight: 1.4286;
	margin-top 30px;
	margin-bottom: 30px;
	text-align: left;
}

.info-text a {
	color: #1a73e8;
	text-decoration: none;
	font-weight: 500;
}

.info-text a:hover {
	text-decoration: underline;
}

.bottom-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 32px;
}
.password-bottom-container {
	margin-top: 16px;
}

.submit-button {
	padding: 8px 24px;
	font-weight: 500;
	letter-spacing: .25px;	
}

.username-display {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #dadce0;
	border-radius: 100px;
	padding: 4px 12px 4px 8px;
	margin: 16px auto 32px;
	font-size: 14px;
	color: #3c4043;
	width: fit-content;
	cursor: pointer;
}
.username-display:hover {
	background-color: #f8f9fa
}

.person-icon {
	margin-right: 8px;
}
.dopdown-icon {
	margin-left: 16px;
}

.show-password-container {
	text-align: left;
	margin-top 16px;
	margin-bottom: 24px;
}
.show-password-container label {
	font-size: 14px;
	color: #282124;
	margin-left: 8px;
	cursor: pointer;
}
.show-password-container input {
	cursor: pointer;
}
